MessageManager-config/src/main/resources/jaxb/MessageManagerConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MessageManagerConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DataBase">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="JNDI" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="JMS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="JNDIConnectionFactory" type="xs:string" />
              <xs:element name="JNDIQueque" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>